.cabinet__home__page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #dafffb;
}

.cabinet__home__page-content {
  height: 85%;
  width: 100%;
  display: flex;
  padding: 10px;
}

.cabinet__home__page-content .cabinet__wrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}

.home__page__description-wrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}

@media only screen and (max-width: 1290px) {
  .cabinet__home__page-content {
    flex-direction: column;
  }

  .home__page__description-wrap {
    width: 100% !important;
    padding-right: 40px !important;
  }

  .cabinet__wrap {
    width: 100% !important;
    padding-left: 40px !important;
  }

  .cabinet__footer__wrap {
    justify-content: center !important;
    padding: 0px 40px !important;
  }

  .cabinet__home__page-content .cabinet {
    left: 17% !important;
  }

  .result__screen.cabinet__home__page .cabinet {
    left: 20% !important;
  }

}
