.assembly__screen-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.assembly__screen-container-left-wrap {
  width: 30%;
  height: 100%;
  /* display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px; */
}

.assembly__screen-container-right-wrap {
  width: 70%;
  height: 100%;
}
