.assembly__screen-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #dafffb;
}

.assembly__screen-container-left-wrap {
  width: 40%;
  height: 100%;
  overflow-y: auto;
}

.assembly__screen-container-left-wrap {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.assembly__screen-container-left-wrap::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.assembly__screen-container-right-wrap .cabinet__wrap {
  height: 85% !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}

.assembly__screen-container-right-wrap {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
