.parts__selection__container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #dafffb;
  flex-direction: column;
}

.parts__selection__carousel-wrap {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  width: 100%;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  width: 100%;
}

.react-multi-carousel-track {
  display: flex;
  height: 100%;
}

ul,
li {
  list-style: none;
}

.parts__carousel-card {
  margin: 0 15px 30px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: #04364a;

  border-radius: 28px;
  box-shadow: 0 0 10px 5px;
}

.parts__carousel-card-selected {
  box-shadow: -5px -5px 30px 5px #176b87, 5px 5px 30px 5px rgb(103, 140, 166);
}
.parts__carousel-card-wrap {
  display: block;
  padding: 30px 20px;
  background-color: #04364a;

  overflow: hidden;

  position: relative;
}
.parts__carousel-card-wrap:hover,
.parts__carousel-card-wrap:hover {
  text-decoration: none;
  color: #fff;
}
.parts__carousel-card-wrap:hover .parts__carousel-card-bg {
  -webkit-transform: scale(10.5);
  -ms-transform: scale(10.5);
  transform: scale(10.5);
  border-radius: 28px;
}
.parts__carousel-card-title {
  margin: 0 0 60px;

  font-weight: bold;
  font-size: 35px;
  color: #fff;
  font-family: "Open Sans";
  z-index: 2;
  position: relative;
}
.parts__carousel-card-img-wrap {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parts__carousel-card-img {
  height: 100px;
  width: 100px;
}

.parts__carousel-card-bg {
  height: 128px;
  width: 128px;
  background-color: #64ccc5;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .parts__carousel-card {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .parts__carousel-card-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .parts__selection__carousel-wrap {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .parts__carousel-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .parts__carousel-card-title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .parts__carousel-card-wrap {
    padding: 22px 40px;
  }
  .parts__carousel-card-img-wrap {
    font-size: 16px;
  }
}
