* {
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100vh;
  font-family: var(--global-font-famliy);
}

.heading {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 0.9;
  font-family: 'Open Sans';
  color: #04364a;
}
.sub-text {
  font-size: 25px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
